<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Edirne Taşımacılık</title>
    @Html.Partial("StyleSheet")
    @RenderSection("sayfa_css", false)
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("Header")
    @RenderBody()
    @Html.Partial("Footer")
    @Html.Partial("JavaScript")
    @RenderSection("sayfa_js", false)
</body>
</html>